@import "../../common/color.scss";

.header {
  background-color: $secondary-color;
  height: 72px;
  padding: 0px 40px;
}

.text-white {
  color: $font-primary;
}

.text-blue {
  color: $font-secondary;
}

.modal-item {
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
}
.modal-item:hover {
  background-color: rgb(241, 241, 241);
}
