@import "../../common/color.scss";

.watch-list-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 15px;
}

h2 {
  color: $font-secondary;
  margin: 20px 0px;
  font-weight: 400;
}
