@import "./common/color.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

body {
  background-color: $primary-color;
}

.regular-btn {
  border: 2px solid $third-color;
  background-color: transparent;
  padding: 5px 12px;
  border-radius: 3px;
  transition: 150ms ease-in-out;
  color: $font-primary;
  font-weight: 500;
  &:hover {
    background-color: $third-color;
  }
  &[disabled] {
    background-color: $third-color;
  }
}
