@import "./common/color.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #304c69 $secondary-color;
}

html::-webkit-scrollbar {
  width: 0.5vw;
}

html::-webkit-scrollbar-thumb {
  background-color: #304c69;
  border-radius: 30px;
  padding: 0.5;
}

html::-webkit-scrollbar-thumb:active {
  background-color: #28435e;
}

html::-webkit-scrollbar-track {
  background-color: $secondary-color;
}

a {
  text-decoration: none;
}

body {
  background-color: $primary-color;
}

.regular-btn {
  border: 2px solid $third-color;
  background-color: transparent;
  padding: 5px 12px;
  border-radius: 3px;
  transition: 150ms ease-in-out;
  color: $font-primary;
  font-weight: 500;
  &:hover {
    background-color: $third-color;
  }
  &[disabled] {
    background-color: $third-color;
  }
}
