@import "../../common/color.scss";

.footer {
  padding: 20px 0;
  background-color: $secondary-color;
  margin-top: auto;
}

.footer div {
  color: $font-primary;
  display: flex;
  flex-direction: column;
  align-items: center;
}
